<h1>Contact</h2>
<p>Contact us by submitting this form.</p>
<form action="" method="post">
<input type="hidden" name="_csrf" value="{{csrf}}">
<input type="text" name="formfield" value="">
<input type="submit" value="Absenden">
</form>